# NixOS / editor junk
result
result-*
.direnv/
.env
.env.*
*.swp
*.swo
*~

# Secrets
secrets/
*.key
*.pem
*.p12
*.pfx

# Machine/local files
hardware-configuration.local.nix

# Temporary backups
*.bak

#hardware
#hosts/desktop/hardware-configuration.nix
#hosts/laptop/hardware-configuration.nix
